@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main {
    height: 100%;
    width: 100%;
    background-color: rgb(245, 148, 92);
    display: flex;
}
.part1 {
    height: 100%;
    width: 26%;
    /* background: rebeccapurple; */
}
.part2 {
    height: 100%;
    width: 67%;
    background: rgb(38, 45, 178); 
    background-image: url('../img/mouad.png');
    background-size: cover;
    background-position: center;
}
.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(246, 208, 186, 0.487);
}
.part3 {
    height: 100%;
    width: 7%;
    /* background: rgb(29, 170, 29); */
}
.text-dev{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 5%;
    top: 50%;
    transform: translate(0,-50%);
}
.text-dev > h1 {
    font-size: 85px;
    font-family: "Poppins", serif;
    font-weight: 500;
    line-height: 78px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.small-img-dev {
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(../img/mouad.png);
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0,-50%);
}
.overlay-in{
    height: 100%;
    width: 100%;
    background-color: rgba(244, 242, 241, 0.487);
}
.vertical-text {
    position: absolute;
     /* width: 100%;  */
    right: -55%;
    top: -7%;
    z-index: 5;
    transform: rotate(90deg);
    transform-origin: 0% 0%; 
    /* background-color: red; */
}
.vertical-text h1 {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
   
    /**/
    letter-spacing: 10px;
    font-family: "Poppins", serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    animation: vertical-text 10s linear infinite;
}
@keyframes vertical-text  {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-100%,0);
    }
}